.button {
  background: #a6d9f7;
  background-image: -webkit-linear-gradient(top, #a6d9f7, #bccce0);
  background-image: -moz-linear-gradient(top, #a6d9f7, #bccce0);
  background-image: -ms-linear-gradient(top, #a6d9f7, #bccce0);
  background-image: -o-linear-gradient(top, #a6d9f7, #bccce0);
  background-image: linear-gradient(to bottom, #a6d9f7, #bccce0);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  border-style: none;
  text-shadow: 1px 2px 2px #939ebd;
  -webkit-box-shadow: -3px 2px 3px #666666;
  -moz-box-shadow: -3px 2px 3px #666666;
  font-family: Courier New;
  box-shadow: -3px 2px 3px #c7bbc7;
  color: #ffffff;
  font-size: 31px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-top: 8%;
  cursor: pointer;
}

.button:hover {
  background: #bccce0;
  background-image: -webkit-linear-gradient(top, #bccce0, #a6d9f7);
  background-image: -moz-linear-gradient(top, #bccce0, #a6d9f7);
  background-image: -ms-linear-gradient(top, #bccce0, #a6d9f7);
  background-image: -o-linear-gradient(top, #bccce0, #a6d9f7);
  background-image: linear-gradient(to bottom, #bccce0, #a6d9f7);
  text-decoration: none;
}

.h1.h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 29px.5px;
  letter-spacing: -0.6px;
  word-spacing: 5.2px;
  color: #312f2f;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  margin-top: 9%;
}
